body {
  background-color: rgb(196, 196, 186);
  font-family: Arial, Helvetica, sans-serif;
}

section > article {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  /* utilizzo flex per centrare il p */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes box-moving {
  0% {
    /* stili iniziali del box */
    transform: translateX(0px);
  }

  50% {
    transform: translate(25vw);
  }

  100% {
    /* stili finali del box */
    transform: translateX(calc(50vw - 50%));
  }
}

article:nth-of-type(1) {
  background-color: cadetblue;
}

.move {
  /* animation: nome-animazione durata curva-accelerazione ritardo numero-ripetizioni stili-conclusivi */
  animation: box-moving 4s linear 1s 1 forwards;
}
