body {
  background-color: rgb(196, 196, 186);
  font-family: Arial, Helvetica, sans-serif;
}

section > article {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  /* utilizzo flex per centrare il p */
  display: flex;
  justify-content: center;
  align-items: center;
}

section > article > p {
  margin: 0;
}

.rotate {
  background: lightgreen;
  transform: rotate(-40deg);
  /* transform: rotate(0.35turn); */
}

.translate {
  background-color: lightsalmon;
  transform: translate(30px, -30px);
}

.scale {
  background-color: lightskyblue;
  transform: scale(1.35);
}

.skew {
  background-color: lightslategray;
  transform: skew(10deg, 10deg);
  /* con transform: origin potete modificare
  il punto di origine della transformazione */
}

.multi {
  background-color: lightcoral;
  transform: rotate(0.15turn) translateX(100px);
}
